# Task 2
---
EDA Process

Sub-Task 1:
* Perform some explaratory data analysis.

Sub-Task 2:
* Verify Price sensitivity Hypothesis

Sub-Task 3:
* Write a brief Summary of findings.

## Sub-Task 1
---
### EDA

In [72]:
#Load Librries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder 
#Settings.
pd.set_option('display.max_columns', 50)

#Root Data Directory.
DATA_ROOT_DIR='../data/'

In [96]:
# Setting up a logger to log any issues or errors.
# Set up the logger
import logging as log
log.basicConfig(filename = 'eda.log', format='%(ascitime)s %(message)s', datefmt='%m/%d/%Y %I:%M:%S %p')

### Client Data Exploration
---
File: client_data.csv
===
* id = client company identifier (hashed for privacy).
* activity_new = category of the company's activity.
* channel_sales = code of sales channel.
* cons_12m = electricity consumption in past 12 months.
* cons_gas_12m = gas consumption in past 12 months.
* cons_last_month = electricity consumption last month.
* date_activ = date of activation of the contract.
* date_end = registered date of the end of contract.
* date_modif_prod = date of last modification of the product.
* date_renewal = date of the next contract renewal.
* forecast_cons_12m = forecasted electricity consumption for the next 12 months.
* forecast_cons_year = forecasted electricity consumption for the next calander year.
* forecast_discount_energy = forecasted value of current discount.
* forecast_meter_rent_12m = forecasted bill of meter rental for the next 12 months
* forecast_price_energy_off_peak = forecasted energy price for 1st period(off peak).
* forecast_price_energy_peak = forecasted energy price for 2nd period(peak).
* forecast_price_pow_off_peak = forecasted power price for 1st period (off peak)
* has_gas = indicated if client is also a gas client.
* imp_cons = current paid consumption.
* margin_gross_pow_ele = margin on power subscription.
* margin_net_pow_ele = net margin on power subscription.
* nb_prod_act = number of active products and services.
* net_margin = total net margin.
* num_years_antig = antiguity of client.
* origin_up = code of electricity campaign the customer first subscribed to.
* pow_max = subscribed power.
* churn = has the client churned over the next 3 months.

In [97]:
def read_file_as_dataframe(file_path):
    """
    Reads a file and returns its content as a pandas DataFrame based on its file type.

    Parameters:
        file_path (str): The path to the file to be read.

    Returns:
        pandas.DataFrame: A pandas DataFrame containing the content of the file.

    Raises:
        ValueError: If the file type is not supported (currently supports CSV, Excel, and JSON).

    Example:
        file_path = 'data.csv'
        df = read_file_as_dataframe(file_path)
        print(df.head())

    Note:
        Ensure that the required libraries are installed for handling specific file formats:
        - pandas for all file types
        - xlrd and openpyxl for Excel files (xls and xlsx extensions).
    """
    file_extension = file_path.split('.')[-1].lower()

    if file_extension == 'csv':
        return pd.read_csv(file_path)
    elif file_extension in ['xls', 'xlsx']:
        return pd.read_excel(file_path)
    elif file_extension == 'json':
        return pd.read_json(file_path)
    else:
        raise ValueError(f"Unsupported file type: {file_extension}")

In [98]:
client_csv = f'{DATA_ROOT_DIR}client_data.csv'
try:
    client_df = read_file_as_dataframe(client_csv)
    log.info(f'Successfully read {client_csv} as a dataframe.')
except Exception as e:
    log.error(str(e))

In [94]:
client_df.head(3)

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,forecast_cons_year,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_off_peak,forecast_price_energy_peak,forecast_price_pow_off_peak,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,0,0.0,1.78,0.114481,0.098142,40.606701,t,0.0,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,0,0.0,16.27,0.145711,0.000000,44.311378,f,0.0,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,0,0.0,38.72,0.165794,0.087899,44.311378,f,0.0,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0

In [78]:
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14606 entries, 0 to 14605
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14606 non-null  object
 1   channel_sales                   14606 non-null  object
 2   cons_12m                        14606 non-null  int64
 3   cons_gas_12m                    14606 non-null  int64
 4   cons_last_month                 14606 non-null  int64
 5   date_activ                      14606 non-null  object
 6   date_end                        14606 non-null  object
 7   date_modif_prod                 14606 non-null  object
 8   date_renewal                    14606 non-null  object
 9   forecast_cons_12m               14606 non-null  float64
 10  forecast_cons_year              14606 non-null  int64
 11  forecast_discount_energy        14606 non-null  float64
 12  forecast_meter_rent_12m         14606 non-null  float64
 13  forecast_price_energy_off_peak  14606 non-null  float64
 14  forecast_price_energy_peak      14606 non-null  float64
 15  forecast_price_pow_off_peak     14606 non-null  float64
 16  has_gas                         14606 non-null  object
 17  imp_cons                        14606 non-null  float64
 18  margin_gross_pow_ele            14606 non-null  float64
 19  margin_net_pow_ele              14606 non-null  float64
 20  nb_prod_act                     14606 non-null  int64
 21  net_margin                      14606 non-null  float64
 22  num_years_antig                 14606 non-null  int64
 23  origin_up                       14606 non-null  object
 24  pow_max                         14606 non-null  float64
 25  churn                           14606 non-null  int64
dtypes: float64(11), int64(7), object(8)
memory usage: 2.9+ MB

In [79]:
#Convert date columns to datetime data type.
for c in ['date_activ','date_end','date_modif_prod','date_renewal']:
    client_df[c] = pd.to_datetime(client_df[c])

In [80]:
# A few new features
client_df['contract_start_year'] = client_df['date_activ'].dt.year
client_df['contract_end_year'] = client_df['date_end'].dt.year

In [81]:
# a function to display missing values and dupliate rows
def duplicate_and_missing(dataset, dataset_name):  
    print('There are', dataset.shape[0], 'rows and', dataset.shape[1], 'columns in the dataset', '"'+dataset_name+'"','\n'+'--'*40)
    # display missing values
    if dataset.isna().sum().sum()!=0:  # if there is missing values
        missing_value = dataset.isna().sum()[dataset.isna().sum()!=0].to_frame(name='count')
        missing_value['proportion'] = missing_value['count']/len(dataset)
        print('There are', dataset.isna().sum().sum(), 'missing values')
        print(missing_value, '\n'+'--'*40)
    else:
        print('There is no missing values')
    # display duplicate rows
    if dataset.duplicated().sum()!=0:
        print('There are', dataset.duplicated().sum(), 'duplicate rows\n')
    else:
        print('There is no duplicate row\n')

In [82]:
duplicate_and_missing(dataset=client_df, dataset_name='Client_df')

There are 14606 rows and 28 columns in the dataset "Client_df"
--------------------------------------------------------------------------------
There is no missing values
There is no duplicate row

In [83]:
# ategorical data summary function
def describe_categorical(dataset):
    cat_columns = dataset.dtypes[dataset.dtypes=='object'].index.tolist()
    if len(cat_columns)!=0:
        print('Categorical variables are', cat_columns,'\n'+'=='*40)
        for cat in cat_columns:
            describe_frame = dataset[[cat]].value_counts().reset_index(name='count')
            describe_frame['proportion'] = describe_frame['count']/len(dataset)
            print(describe_frame,'\n'+'--'*40)    # display value count and proportion of a categorical feature
    else:
        print('There is no categorical variables in the dataset')

In [84]:
describe_categorical(dataset=client_df)

Categorical variables are ['id', 'channel_sales', 'has_gas', 'origin_up']
================================================================================
                                     id  count  proportion
0      0002203ffbb812588b632b9e628cc38d      1    0.000068
1      ab250252dfaded1c9a54834f9c829b43      1    0.000068
2      ab32c3a8d93c88b485499566526cb34d      1    0.000068
3      ab3392ec2bfd3605624f31d3c6828c21      1    0.000068
4      ab346731fef5aa291919ea43e45af5a7      1    0.000068
...                                 ...    ...         ...
14601  55091aace7bd0fadd194f46cb4886fea      1    0.000068
14602  550b8d2f9c298abd8f05fca3bc1a13c4      1    0.000068
14603  5514b18508f378a39f41657554aa72e3      1    0.000068
14604  551cb1b1faf72259c2c182dedec12c98      1    0.000068
14605  ffff7fa066f1fb305ae285bb03bf325a      1    0.000068

[14606 rows x 3 columns]
--------------------------------------------------------------------------------
                      channel_sales  count  proportion
0  foosdfpfkusacimwkcsosbicdxkicaua   6754    0.462413
1                           MISSING   3725    0.255032
2  lmkebamcaaclubfxadlmueccxoimlema   1843    0.126181
3  usilxuppasemubllopkaafesmlibmsdf   1375    0.094139
4  ewpakwlliwisiwduibdlfmalxowmwpci    893    0.061139
5  sddiedcslfslkckwlfkdpoeeailfpeds     11    0.000753
6  epumfxlbckeskwekxbiuasklxalciiuu      3    0.000205
7  fixdbufsefwooaasfcxdxadsiekoceaa      2    0.000137
--------------------------------------------------------------------------------
  has_gas  count  proportion
0       f  11955    0.818499
1       t   2651    0.181501
--------------------------------------------------------------------------------
                          origin_up  count  proportion
0  lxidpiddsbxsbosboudacockeimpuepw   7097    0.485896
1  kamkkxfxxuwbdslkwifmmcsiusiuosws   4294    0.293989
2  ldkssxwpmemidmecebumciepifcamkci   3148    0.215528
3                           MISSING     64    0.004382
4  usapbepcfoloekilkwsdiboslwaxobdp      2    0.000137
5  ewxeelcelemmiwuafmddpobolfuxioce      1    0.000068
--------------------------------------------------------------------------------

In [85]:
#Lets encode channel sales and origin up since they are not understandable.
channel_encoder = LabelEncoder()
client_df['channel_sales'] = channel_encoder.fit_transform(client_df['channel_sales'])

origin_encoder = LabelEncoder()
client_df['origin_up'] = origin_encoder.fit_transform(client_df['origin_up'])

In [86]:
client_df.head(3)

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,forecast_cons_year,forecast_discount_energy,forecast_meter_rent_12m,forecast_price_energy_off_peak,forecast_price_energy_peak,forecast_price_pow_off_peak,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max,churn,contract_start_year,contract_end_year
0,24011ae4ebbe3035111d65fa7c15bc57,4,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,0,0.0,1.78,0.114481,0.098142,40.606701,t,0.0,25.44,25.44,2,678.99,3,4,43.648,1,2013,2016
1,d29c2c54acc38ff3c0614d0a653813dd,0,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,0,0.0,16.27,0.145711,0.000000,44.311378,f,0.0,16.38,16.38,1,18.89,6,2,13.800,0,2009,2016
2,764c75f661154dac3a6c254cd082ea7d,4,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,0,0.0,38.72,0.165794,0.087899,44.311378,f,0.0,28.60,28.60,1,6.60,6,2,13.856,0,2010,2016

In [87]:
# Numerical Data Summary.
def describe_numeric(dataset):
    # for numeric columns whose values are discrete, display values and their frequency
    int_columns = dataset.dtypes[dataset.dtypes=='int'].index.tolist()
    # for numeric columns whose values are continuous, plot their value distribution
    float_columns = dataset.dtypes[dataset.dtypes=='float'].index.tolist()
    if len(int_columns)+len(float_columns)!=0:
        print('Numeric variables are', int_columns+float_columns,'\n'+'=='*40)
        # integer numeric feature
        if len(int_columns)!=0:    
            for cat in int_columns:
                describe_frame = dataset[[cat]].value_counts().reset_index(name='count')
                describe_frame['proportion'] = describe_frame['count']/len(dataset)
                print(describe_frame,'\n'+'--'*40)    # display value count and proportion of a categorical feature
        # 
        print(dataset[int_columns + float_columns].describe().loc[['min','max','mean','50%']].T.rename(columns={'50%':'median'}), '\n'+'--'*40)
    else:
        print('There is no numeric variables in the dataset')

In [88]:
describe_numeric(dataset=client_df)

Numeric variables are ['channel_sales', 'cons_12m', 'cons_gas_12m', 'cons_last_month', 'forecast_cons_year', 'nb_prod_act', 'num_years_antig', 'origin_up', 'churn', 'forecast_cons_12m', 'forecast_discount_energy', 'forecast_meter_rent_12m', 'forecast_price_energy_off_peak', 'forecast_price_energy_peak', 'forecast_price_pow_off_peak', 'imp_cons', 'margin_gross_pow_ele', 'margin_net_pow_ele', 'net_margin', 'pow_max']
================================================================================
   channel_sales  count  proportion
0              4   6754    0.462413
1              0   3725    0.255032
2              5   1843    0.126181
3              7   1375    0.094139
4              2    893    0.061139
5              6     11    0.000753
6              1      3    0.000205
7              3      2    0.000137
--------------------------------------------------------------------------------
       cons_12m  count  proportion
0             0    117    0.008010
1       2882597     27    0.001849
2       3329244     24    0.001643
3       1743025     18    0.001232
4       3926060     18    0.001232
...         ...    ...         ...
11060     10297      1    0.000068
11061     10305      1    0.000068
11062     10311      1    0.000068
11063     10312      1    0.000068
11064     14285      1    0.000068

[11065 rows x 3 columns]
--------------------------------------------------------------------------------
      cons_gas_12m  count  proportion
0                0  11994    0.821169
1           976731     27    0.001849
2           867921     24    0.001643
3          1959386     18    0.001232
4            41532     18    0.001232
...            ...    ...         ...
2107         10334      1    0.000068
2108           869      1    0.000068
2109         10284      1    0.000068
2110         10264      1    0.000068
2111         15928      1    0.000068

[2112 rows x 3 columns]
--------------------------------------------------------------------------------
      cons_last_month  count  proportion
0                   0   4983    0.341161
1              382647     27    0.001849
2              509826     24    0.001643
3              558120     18    0.001232
4              469210     18    0.001232
...               ...    ...         ...
4746             3640      1    0.000068
4747             3642      1    0.000068
4748             3644      1    0.000068
4749             3645      1    0.000068
4750             3033      1    0.000068

[4751 rows x 3 columns]
--------------------------------------------------------------------------------
      forecast_cons_year  count  proportion
0                      0   6148    0.420923
1                      8     13    0.000890
2                      1     13    0.000890
3                    453     11    0.000753
4                      7     11    0.000753
...                  ...    ...         ...
4213                3356      1    0.000068
4214                3357      1    0.000068
4215                3358      1    0.000068
4216                3360      1    0.000068
4217              175375      1    0.000068

[4218 rows x 3 columns]
--------------------------------------------------------------------------------
   nb_prod_act  count  proportion
0            1  11431    0.782624
1            2   2445    0.167397
2            3    523    0.035807
3            4    150    0.010270
4            5     31    0.002122
5            9     11    0.000753
6            6      8    0.000548
7            8      4    0.000274
8           10      2    0.000137
9           32      1    0.000068
--------------------------------------------------------------------------------
    num_years_antig  count  proportion
0                 6   4769    0.326510
1                 4   3982    0.272628
2                 3   2433    0.166575
3                 5   2317    0.158633
4                 7    509    0.034849
5                11    185    0.012666
6                12    110    0.007531
7                 8    103    0.007052
8                 9     92    0.006299
9                10     81    0.005546
10               13     13    0.000890
11                2     11    0.000753
12                1      1    0.000068
--------------------------------------------------------------------------------
   origin_up  count  proportion
0          4   7097    0.485896
1          2   4294    0.293989
2          3   3148    0.215528
3          0     64    0.004382
4          5      2    0.000137
5          1      1    0.000068
--------------------------------------------------------------------------------
   churn  count  proportion
0      0  13187    0.902848
1      1   1419    0.097152
--------------------------------------------------------------------------------
                                min           max           mean        median
channel_sales                   0.0  7.000000e+00       3.266945      4.000000
cons_12m                        0.0  6.207104e+06  159220.286252  14115.500000
cons_gas_12m                    0.0  4.154590e+06   28092.375325      0.000000
cons_last_month                 0.0  7.712030e+05   16090.269752    792.500000
forecast_cons_year              0.0  1.753750e+05    1399.762906    314.000000
nb_prod_act                     1.0  3.200000e+01       1.292346      1.000000
num_years_antig                 1.0  1.300000e+01       4.997809      5.000000
origin_up                       0.0  5.000000e+00       3.178899      3.000000
churn                           0.0  1.000000e+00       0.097152      0.000000
forecast_cons_12m               0.0  8.290283e+04    1868.614880   1112.875000
forecast_discount_energy        0.0  3.000000e+01       0.966726      0.000000
forecast_meter_rent_12m         0.0  5.993100e+02      63.086871     18.795000
forecast_price_energy_off_peak  0.0  2.739630e-01       0.137283      0.143166
forecast_price_energy_peak      0.0  1.959750e-01       0.050491      0.084138
forecast_price_pow_off_peak     0.0  5.926638e+01      43.130056     44.311378
imp_cons                        0.0  1.504279e+04     152.786896     37.395000
margin_gross_pow_ele            0.0  3.746400e+02      24.565121     21.640000
margin_net_pow_ele              0.0  3.746400e+02      24.562517     21.640000
net_margin                      0.0  2.457065e+04     189.264522    112.530000
pow_max                         3.3  3.200000e+02      18.135136     13.856000
--------------------------------------------------------------------------------

In [89]:
#checking datetime features...
client_df[client_df.dtypes[client_df.dtypes=='datetime64[ns]'].index.tolist()].describe()

,date_activ,date_end,date_modif_prod,date_renewal
count,14606,14606,14606,14606
mean,2011-01-28 07:54:18.879912448,2016-07-27 20:48:26.422018560,2013-01-02 12:29:10.951663872,2015-07-21 06:59:00.353279488
min,2003-05-09 00:00:00,2016-01-28 00:00:00,2003-05-09 00:00:00,2013-06-26 00:00:00
25%,2010-01-15 00:00:00,2016-04-27 06:00:00,2010-08-12 00:00:00,2015-04-17 00:00:00
50%,2011-03-04 00:00:00,2016-08-01 00:00:00,2013-06-19 00:00:00,2015-07-27 00:00:00
75%,2012-04-19 00:00:00,2016-10-31 00:00:00,2015-06-16 00:00:00,2015-10-29 00:00:00
max,2014-09-01 00:00:00,2017-06-13 00:00:00,2016-01-29 00:00:00,2016-01-28 00:00:00